<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>FORSETE: ATR</title>
  <link rel="icon" type="image/x-icon" href="images/favicon_io/favicon.ico">
  <link rel="stylesheet" href="/styles/output.css" />

  <script type='module' src="../js/controllers/components/comp-index.js" defer></script>
  <script type="module" src="/js/controllers/settingsController.js" defer></script>
  <script type='module' src="../flowbite/flowbite.min.js" defer></script>
</head>


<body class="bg-gray-300 dark:bg-gray-900 text-white">

  <header>
    <%- include('./partials/header'); %>
  </header>
  <div id="alert-container" class="fixed inset-x-0 top-[75px] z-50"></div>

  <!-- drawer init and toggle -->
  <%- include('./partials/drawer/drawer'); %>
    <main class="min-h-screen flex flex-col items-center justify-center">
      <!-- Container for uploader and spinner -->
      <div class="relative flex items-center justify-center w-full">
        <!-- Upload area -->
        <label for="inputDocument" id="uploadArea"
          class="flex flex-col items-center justify-center w-1/2 h-80 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and drop
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">png, jpg, jpeg or pdf</p>
            <!-- Filename display -->
            <p id="fileName" class="mt-4 text-sm text-blue-500 dark:text-blue-300">No file chosen</p>
          </div>
          <!-- File picker -->
          <input type="file" id="inputDocument" class="hidden" accept=".png, .jpg, .jpeg, .pdf">
        </label>

        <!-- Spinner (overlays upload area) -->
        <%- include('./partials/loader', { loaderId: 'spinnerId' , position:'absolute inset-0 flex items-center' }) %>
      </div>
      <!-- Button area -->
      <div class="flex flex-row space-x-4 mt-8">
        <!-- Cancel button -->
        <button id="cancelBtn" class="red-button">
          Cancel
        </button>
        <!-- Submit button -->
        <button id="submitBtn" class="blue-button">
          Submit
        </button>
      </div>
    </main>
</body>

</html>