<!-- Model configuration area -->
<li>
  <div class="grid grid-cols-2 gap-4 items-center">
    <!-- Column 1: Readable Type -->
    <p class="text-gray-500 whitespace-normal dark:text-gray-400">
      <%= model.readableType %>
    </p>

    <!-- Column 2: Model Name -->
    <p class="text-gray-500 whitespace-normal dark:text-gray-400">
      <%= model.name %>
    </p>
  <!-- Divider -->
  <li>
    <hr class="w-full my-4 border-t border-gray-300 dark:border-gray-700">
  </li>
</li>