<nav class="navbar fixed top-0 left-0 w-full bg-gray-800 py-4 px-8 shadow-md z-30">
    <a href="index.html">
      <h1 class="text-4xl font-bold">FORSETE</h1>
    </a>
    <div class="ham-menu" role="button" tabindex="0" data-drawer-target="drawer-right"
      data-drawer-show="drawer-right" data-drawer-placement="right" aria-controls="drawer-right">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>